@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
   border: solid 1px red;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
   width: 2px;
   height: 2px;
   border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
   background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
   background: #5c5c7b;
   border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: #7878a3;
}

@layer utilities {
   .container-slate {
      @apply w-screen lg:min-h-screen px-10 pb-8 md:pb-32 pt-32 bg-slate-50 items-center;
   }

   .container-orange {
      @apply w-screen px-10 pb-8 pt-32 bg-orange-200;
   }

   .header-1 {
      @apply text-orange-400 font-semibold text-xl
   }

   .header-2 {
      @apply font-bold text-3xl
   }

   .subtext {
      @apply font-medium text-lg max-w-[540px] mx-auto
   }

   .card-container {
      @apply flex flex-col w-full md:flex-row justify-evenly lg:justify-center mt-20 gap-6 lg:gap-20 md:gap-4
   }

   .card-menu {
      @apply overflow-hidden flex flex-col justify-center items-center text-center bg-slate-100 rounded-2xl shadow-xl max-w-[280px]
   }

   .img-review {
      @apply hover:brightness-100 brightness-50 w-full h-[200px] object-cover shadow-xl drop-shadow-xl transition-all ease-in-out duration-300 hover:scale-[1.01]
   }
}